<div
  class="d-flex flex-column mx-auto justify-content-evenly align-items-left mx-auto p-4"
>
  <div class="mb-2 f-flex w-25">
    <label class="form-label mb-0 h5 fw-semibold">Title</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="w-80">
    <label class="form-label mb-0 h5 fw-semibold d-block">Note</label>
    <quill-editor [(ngModel)]="content"></quill-editor>
  </div>
  <div>
    <button class="btn btn-primary">Add Note</button>
  </div>
</div>
