<header class="d-flex justify-content-evenly align-items-center flex-wrap pt-4">
  <div>
    <h3 class="mx-auto text-center">Lorem ipsum dolor sit</h3>
    <p class="mx-auto p-2">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias,
      doloribus. Lorem ipsum dolor sit, amet consectetur
    </p>
    <div class="d-flex justify-content-evenly align-items-center flex-wrap">
      <button class="btn btn-info">Log-in</button>
      <button class="btn btn-outline-success">Sign up</button>
    </div>
  </div>
  <div class="my-auto p-4">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title text-center">Demo Title</h5>
        <p class="card-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi vel
          recusandae repellendus, sit explicabo omnis?...
        </p>

        <div class="d-flex flex-wrap justify-content-around align-items-center">
          <div>
            <a href="#" class="card-link">view</a>
            <a href="#" class="card-link">Delete</a>
          </div>
          <small class="card-subtitle mb-2 text-body-secondary text-end"
            >12 Dec 2024</small
          >
        </div>
      </div>
    </div>
  </div>
</header>
