<div class="d-flex justify-content-center align-items-center">
  <table
    class="table table-primary table-striped table-sm caption-top p-4 w-75"
  >
    <caption>
      Infomation about your notes
    </caption>
    <thead class="table-dark">
      <tr>
        <th scope="col">title</th>
        <th scope="col">size</th>
        <th scope="col">word count</th>
        <th scope="col">creation date</th>
        <th scope="col">last modified</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">lucy gucy</th>
        <td>13.5 kb</td>
        <td>1000</td>
        <td>13 Dec 2023</td>
        <td>13 Jan 2024</td>
      </tr>
      <tr>
        <th scope="row">hopefull future</th>
        <td>13.5 kb</td>
        <td>345</td>
        <td>1 Nov 2023</td>
        <td>13 Jan 2024</td>
      </tr>
      <tr>
        <th scope="row">getting my first job</th>
        <td>56.34 kb</td>
        <td>456</td>
        <td>13 July 2024</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>
</div>
