section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 800px) {
  section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
