<!--<img src="" class="card-img-top" alt="">-->
<div id="main" class="d-flex justify-content-around align-items-center pt-4">
  <div class="card">
    <div
      class="border border-primary-subtle rounded-4 d-flex justify-content-center align-items-center pt-4 card-img-top"
    >
      <i class="fa fa-user"></i>
    </div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div id="buttons" class="card-body d-flex w-80 justify-content-around">
      <a
        href="#"
        class="btn btn-danger"
        [ngClass]="shouldDisplayUpdateSection ? 'disabled' : ''"
        >Delete profile</a
      >
      <a
        class="btn btn-primary"
        [ngClass]="shouldDisplayUpdateSection ? 'disabled' : ''"
        (click)="display()"
        >Update details</a
      >
    </div>
  </div>
  <!-- the update section -->
  <div *ngIf="shouldDisplayUpdateSection">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Update Details</h5>
      </div>
      <div class="card-body">
        <select
          [(ngModel)]="updateAttribute"
          class="form-select form-select-sm"
          aria-label=".form-select-sm example"
        >
          <option selected>Open this select menu</option>
          <option value="Name">Name</option>
          <option value="Email">Email</option>
        </select>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">{{
            updateAttribute
          }}</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>

        <button class="btn btn-success card-link" (click)="update()">
          Update
        </button>
      </div>
    </div>
  </div>
  <!-- end of update section -->
</div>
