.fa-user {
  font-size: 150px;
}
.attr {
  border-bottom: 1px solid silver;
}
.h {
  visibility: hidden;
}
#under {
  text-decoration: underline;
}
@media screen and (max-width: 800px) {
  #main {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  #buttons {
    display: flex;
    width: 100%;
  }
}
