<div
  class="d-flex flex-column justify-content-center align-items-center flex-wrap mx-auto pt-2"
>
  <div>
    <p class="h5 fw-semibold">Let's get you ready.</p>
  </div>
  <div class="card w-25 mt-4">
    <form
      class="card-body"
      [formGroup]="registrationForm"
      (ngSubmit)="registerUser()"
    >
      {{ this.registrationForm.get("password")?.value }}
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          formControlName="username"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input
          type="text"
          class="form-control"
          formControlName="password"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <input
          type="text"
          class="form-control"
          formControlName="confirm"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          required
        />
      </div>
      <div>
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-rocket"></i> SignUp
        </button>
      </div>
    </form>
  </div>
</div>
