<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="add">Create</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="list">List All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="profile">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="overview">Overview</a>
  </li>
  <li class="nav-item">
    <input
      type="text"
      class="nav-link form-control"
      placeholder=" Search Notes"
    />
  </li>
  <!-- don't forget admin functions-->
  <!-- we need something slick for this search bar!-->
</ul>
<router-outlet></router-outlet>
